<div class="order-content order-guest">
    <h1>{{ 'Continue as Guest?'|t }}</h1>

    <p>{{ 'If you already have an account, login now. Otherwise, continue as a guest.'|t }}</p>

    <div class="order-guest-grid">
      <a href="/user/login?destination=/order/add" class="order-button order-button--alt">{{ 'Login'|t }}</a>
      <a href="/order/guest/continue" class="order-button">{{ 'Continue as Guest'|t }}</a>
    </div>
</div>
