<div class="order-content order-payment">
  <h2>Order Payment</h2>
  
  <div id="order-payment" data-order-id="{{ order_uuid }}">   
    <div id="paymentContainer" style="width:620px; height: 840px">
      <div id="paymentCheckout"></div>
    </div>
    <div id="paymentMessage"></div>
  </div>
</div>